In [116]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data Collecting / Cleaning

In [117]:
# I worked with a ready-made dataset in this project
def collecting_data():
    url_csv = "/Users/student/PycharmProjects/My Vivino/My-Vivino-project/vivino_top_ten.csv"
    data = pd.read_csv(url_csv)
    return data

df = collecting_data()

In [118]:
# Cleaning columns of dataset
def cleaning_data(dataset):
    dataset['Year'] = dataset['Year'].replace('N.V.', np.NAN)
    dataset.drop('Wine_ID', axis=1, inplace=True)
    dataset.drop('Country_Code', axis=1, inplace=True)
    return dataset

df = cleaning_data(df)

In [154]:
df.head()

,Winery,Year,Wine,Rating,Reviews,Price,Region,Primary_Grape,Natural,Country,Style
0,Baron de Ley,2020,Rosado de Lágrima 2020,4.2,42,7.15,La Rioja,Malbec,False,Argentina,Rose
1,New Age,NaN,Sweet White N.V.,3.9,5672,7.43,Mendoza,Malbec,False,Argentina,White
2,Alamos,2018,Malbec Rosé 2018,3.9,384,8.00,Valle de Uco,Malbec,False,Argentina,Rose
3,Alamos,2019,Torrontes 2019,3.8,820,8.00,Salta,Malbec,False,Argentina,White
4,Alamos,2020,Cabernet Sauvignon 2020,3.6,489,8.00,Mendoza,Malbec,False,Argentina,Red

In [153]:
df.isnull().sum()

Winery             0
Year             907
Wine               0
Rating             0
Reviews            0
Price              0
Region             0
Primary_Grape      0
Natural            0
Country            0
Style              0
dtype: int64

Data Exploration

In [151]:
# Let's get some information about the dataset
def summarize_dataset(dataset):
    print("Dataset dimension: ", dataset.shape)
    print('\nFirst 5 rows of dataset: '), print(dataset.head(5))
    print('\nInformation about the dataset columns: \n'), print(dataset.info())
summarize_dataset(df)

Dataset dimension:  (12205, 11)

First 5 rows of dataset:
         Winery  Year                     Wine  Rating  Reviews  Price  \
0  Baron de Ley  2020   Rosado de Lágrima 2020     4.2       42   7.15
1       New Age   NaN         Sweet White N.V.     3.9     5672   7.43
2        Alamos  2018         Malbec Rosé 2018     3.9      384   8.00
3        Alamos  2019           Torrontes 2019     3.8      820   8.00
4        Alamos  2020  Cabernet Sauvignon 2020     3.6      489   8.00

         Region Primary_Grape  Natural    Country  Style
0      La Rioja        Malbec    False  Argentina   Rose
1       Mendoza        Malbec    False  Argentina  White
2  Valle de Uco        Malbec    False  Argentina   Rose
3         Salta        Malbec    False  Argentina  White
4       Mendoza        Malbec    False  Argentina    Red

Information about the dataset columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12205 entries, 0 to 12204
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Winery         12205 non-null  object
 1   Year           11298 non-null  object
 2   Wine           12205 non-null  object
 3   Rating         12205 non-null  float64
 4   Reviews        12205 non-null  int64
 5   Price          12205 non-null  float64
 6   Region         12205 non-null  object
 7   Primary_Grape  12205 non-null  object
 8   Natural        12205 non-null  bool
 9   Country        12205 non-null  object
 10  Style          12205 non-null  object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 965.6+ KB
None

In [152]:
# Describe dataset
df.describe()

             Rating        Reviews         Price
count  12205.000000   12205.000000  12205.000000
mean       3.919992     498.468005     42.610824
std        0.322382    2333.570088    116.172437
min        1.900000      25.000000      2.070000
25%        3.700000      55.000000      8.950000
50%        3.900000     122.000000     17.900000
75%        4.100000     330.000000     37.000000
max        4.900000  114425.000000   6511.310000